@model abcsxl.Models.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = T["PageTitle"].Value;
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('images/home-bg.webp')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <div class="site-heading">
                    <h1>@T["HeroTitle"]</h1>
                    <span class="subheading">@T["HeroSubtitle"]</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-9 col-xl-8">
            @foreach (var item in Model.LastPosts!)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@item.Id">
                        <h2 class="post-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                        <h3 class="post-subtitle">@Html.DisplayFor(modelItem => item.Excerpt)</h3>
                    </a>
                    <p class="post-meta">
                        @T["PostedBy", item.Author] @T["PostedOn"] @Html.DisplayFor(modelItem => item.PublishedAt)
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" asp-area="" asp-controller="Post" asp-action="Index">@T["MoreButton"]</a></div>
        </div>
    </div>
</div>
